USE [master]
GO
/****** Object:  Database [KULLANICI GIRISI]    Script Date: 26.03.2025 17:07:37 ******/
CREATE DATABASE [KULLANICI GIRISI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KULLANICI GIRISI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\KULLANICI GIRISI.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KULLANICI GIRISI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\KULLANICI GIRISI_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KULLANICI GIRISI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KULLANICI GIRISI]
GO
/****** Object:  Table [dbo].[CariKart]    Script Date: 26.03.2025 17:07:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CariKart](
	[KartTuru] [nvarchar](50) NOT NULL,
	[Kod] [nvarchar](50) NOT NULL,
	[Adi] [nvarchar](50) NOT NULL,
	[Aciklama] [nvarchar](50) NOT NULL,
	[Adres] [nvarchar](50) NOT NULL,
	[PostaKodu] [nvarchar](50) NOT NULL,
	[Sehir] [nvarchar](50) NOT NULL,
	[FirmaTelNo1] [nvarchar](50) NOT NULL,
	[FirmaTelNo2] [nvarchar](50) NULL,
	[AdSoyad] [nvarchar](50) NOT NULL,
	[TelNo] [nvarchar](50) NOT NULL,
	[EMail] [nvarchar](50) NOT NULL,
	[BankaAdi] [nvarchar](50) NOT NULL,
	[UlkeKodu] [nvarchar](50) NOT NULL,
	[IBAN] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GirisEkrani]    Script Date: 26.03.2025 17:07:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GirisEkrani](
	[KullaniciGirisi] [text] NOT NULL,
	[Sifre] [nchar](6) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GirisEkrani1]    Script Date: 26.03.2025 17:07:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GirisEkrani1](
	[KullaniciAdi] [nvarchar](50) NOT NULL,
	[Sifre] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HammaddeMalzemeYedekParca]    Script Date: 26.03.2025 17:07:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HammaddeMalzemeYedekParca](
	[MalzemeTipi] [nvarchar](50) NOT NULL,
	[MalzemeSinifi] [nvarchar](50) NOT NULL,
	[StokKodu] [nvarchar](50) NOT NULL,
	[StokYeri] [nvarchar](50) NOT NULL,
	[MaximumStok] [nvarchar](50) NOT NULL,
	[MinimumStok] [nvarchar](50) NOT NULL,
	[YenidenSiparisNoktasi] [nvarchar](50) NOT NULL,
	[KDVOrani] [nvarchar](50) NOT NULL,
	[SatinAlmaBirimi] [nvarchar](50) NOT NULL,
	[İkincilBirim] [nvarchar](50) NULL,
	[Aciklama] [nvarchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[CariKart] ([KartTuru], [Kod], [Adi], [Aciklama], [Adres], [PostaKodu], [Sehir], [FirmaTelNo1], [FirmaTelNo2], [AdSoyad], [TelNo], [EMail], [BankaAdi], [UlkeKodu], [IBAN]) VALUES (N'Müşteri', N'202501', N'TOGGugugıy', N'YOK', N'Bursa Gemlik', N'16000', N'', N'05397090516', N'05397090516', N'Elanur ER', N'0597090516', N'elanurer148@gmail.com', N'', N'', N'111111111111111111111111')
GO
INSERT [dbo].[GirisEkrani] ([KullaniciGirisi], [Sifre]) VALUES (N'', N'123456')
GO
INSERT [dbo].[GirisEkrani1] ([KullaniciAdi], [Sifre]) VALUES (N'elifbayram', 123)
INSERT [dbo].[GirisEkrani1] ([KullaniciAdi], [Sifre]) VALUES (N'elanurer', 123)
GO
INSERT [dbo].[HammaddeMalzemeYedekParca] ([MalzemeTipi], [MalzemeSinifi], [StokKodu], [StokYeri], [MaximumStok], [MinimumStok], [YenidenSiparisNoktasi], [KDVOrani], [SatinAlmaBirimi], [İkincilBirim], [Aciklama]) VALUES (N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'')
GO
USE [master]
GO
